<!DOCTYPE html>
<html>
  <head>
    <title>DesignButler2</title>
    <%= csrf_meta_tags %>

	<%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<%= tinymce_assets %>
	 <script type="text/javascript" src="/assets/tinymce.js"></script>
	
	
  </head>
  
<!-- 
  <body>
    <%= yield %>
  </body>
-->
  
  <body class="min-h-screen bg-gray-100">
    <div class="container mx-auto">
		
		<button class="btn">MyButton</button>
		
      <%= yield %>
    </div>
  </body>
  
  
  
  
  
  
  
  
  
</html>


